<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <form action="/saveApplication" method="post">
        <input type="date" name="dateOfEvent">
        <input type="text" name="nameOfTheCourse" placeholder="nameOfTheCourse">
        <input type="text" name=" userSurname" placeholder="userSurname">
        <input type="text" name="userName" placeholder="userName">
        <input type="number" name="phoneNumber" placeholder="phoneNumber">
        <input type="email" name="email" placeholder="email">
        <input type="submit" value="save">
    </form>


</body>
</html>